main#home {
    section.top-champions {
        display: flex;
        margin: 30px $main_margin_right;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    
        .champion-card {
            background-color: $card_background;
            flex-basis: 410px;
            padding: 15px 15px;
            border-radius: 20px;
    
            & * {
                color: $main_text_color;
            }
    
            .card-header {
                text-align: center;
                font-size: 20px;
    
                img {
                    width: 100px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
    
            .card-body {
                display: flex;
                justify-content: center;
    
                table {
                    text-align: left;
                    border-collapse: separate;
                    border-spacing: 70px 15px;
                    font-size: 18px;
    
                    th {
                        color: $secondary_text_color;
                    }
                }
            }
        }
    }

    section.top-roles {
        display: flex;
        margin: 50px $main_margin_right;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-between;

        .role-card {
            flex-basis: 230px;
            flex-grow: 1;
            border-radius: 20px;
    
            & * {
                color: $main_text_color;
            }
    
            .card-header {
                text-align: center;
                font-size: 20px;
    
                img {
                    width: 80px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
    
            .card-body {
                display: flex;
                justify-content: center;
    
                table {
                    text-align: left;
                    border-collapse: separate;
                    border-spacing: 25px 15px;
                    font-size: 18px;
    
                    th {
                        color: $secondary_text_color;
                    }
                }
            }
        }
    }
}